.okiro__blogpage {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.okiro__blogpage .okiro__homepage__latest {
  margin-top: 1rem;
}

.okiro__blogpage__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .okiro__blogpage {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .okiro__blogpage {
    padding: 2rem 0.5rem;
  }
}
