.okiro__tagpage {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
  padding: 2rem;
  user-select: none;
}

.okiro__tagpage .okiro__post-card__content {
  margin: 0rem 0.5rem;
}

@media screen and (max-width: 450px) {
  .okiro__tagpage {
    padding: 2rem 0.5rem;
  }
}
